<?xml version="1.0"?>
<configuration>
  <requirements>
    <add key="psversion" value="3" />
    <add key="netversion" value="378389" />
  </requirements>
  <AzureElements>
      <AzureActiveDirectory>
        <add key="UsersFilter" value="objectId,accountEnabled,department,displayName,mail,mailNickname,mobile,surname,telephoneNumber,userPrincipalName,userType, PasswordNeverExpires, LastPasswordChangeTimestamp, StrongAuthenticationMethods,StrongAuthenticationPhoneAppDetails,StrongAuthenticationRequirements,StrongAuthenticationUserDetails"/>
        <add key="DirectoryRolesFilter" value="objectId,description,displayName,isSystem,roleDisabled,Members" />
        <add key="GroupFilter" value="objectId,description,displayName,mail,mailNickname,mailEnabled, Members"/>
        <add key="DirectoryRolesMembersFilter" value="objectId,accountEnabled,department,displayName,mail,mailNickname,mobile,surname,telephoneNumber,userPrincipalName,userType, MemberOf"/>
        <add key="AuditLogFilter" value="activityType,correlationId,tenantId,activityOperationType,activity,activityDate,actor,actorType,targetResourceType,targetobjectId,targetName,targetUserPrincipalName,ChangeAttribute,OldValue,NewValue"/>
        <add key="AuditLogDaysAgo" value="-7" />
        <add key="APIVersion" value="1.6" />
      </AzureActiveDirectory>
	  <AzureDocumentDB>
        <add key="Provider" value="Microsoft.DocumentDB" />
        <add key="APIVersion" value="2015-04-08" />
      </AzureDocumentDB>
	  <AzureBotServices>
        <add key="Provider" value="Microsoft.BotService" />
        <add key="APIVersion" value="2017-12-01" />
      </AzureBotServices>
	  <AzureWebApps>
        <add key="Provider" value="Microsoft.Web" />
        <add key="APIVersion" value="2016-08-01" />
      </AzureWebApps>
      <AzureSQLDatabases>
        <add key="Provider" value="Microsoft.Sql" />
        <add key="APIVersion" value="2015-05-01-preview" />
      </AzureSQLDatabases>
	  <AzurePostgreSQLDatabases>
        <add key="Provider" value="Microsoft.DBforPostgreSQL" />
        <add key="APIVersion" value="2017-12-01" />
      </AzurePostgreSQLDatabases>
	  <AzureClassicVM>
        <add key="Provider" value="microsoft.ClassicCompute" />
        <add key="APIVersion" value="2016-04-01" />
      </AzureClassicVM>
	  <AzureVM>
        <add key="Provider" value="microsoft.Compute" />
        <add key="APIVersion" value="2016-03-30" />
      </AzureVM>º
      <SecurityStatuses>
        <add key="Provider" value="microsoft.Security" />
        <add key="APIVersion" value="2015-06-01-preview" />
      </SecurityStatuses>
	  <Alerts>
        <add key="Provider" value="microsoft.Security" />
        <add key="APIVersion" value="2015-06-01-preview" />
      </Alerts>
	  <NetworkSecurityGroup>
        <add key="Provider" value="Microsoft.Network" />
        <add key="APIVersion" value="2016-12-01" />
      </NetworkSecurityGroup>
	  <Authorization>
        <add key="Provider" value="Microsoft.Authorization" />
        <add key="APIVersion" value="2015-06-01" />
      </Authorization>
	  <StorageAccounts>
        <add key="Provider" value="Microsoft.Storage" />
        <add key="APIVersion" value="2016-12-01" />
      </StorageAccounts>
      <SecurityPolicies>
        <add key="Provider" value="Microsoft.Security" />
        <add key="APIVersion" value="2015-06-01-preview" />
      </SecurityPolicies>
	  <WebApplicationFirewall>
        <add key="Provider" value="Microsoft.Network" />
        <add key="APIVersion" value="2017-10-01" />
      </WebApplicationFirewall>
  </AzureElements>
  <excelSettings>
    <add key="ReportName" value="Active Directory Attack Surface" />
    <add key="HyperLinkcompanyName" value="https://www.nccgroup.trust" />
    <add key="CompanyLogo" value="images\NCCLogo.png" />
    <add key="CompanyLogoFront" value="images\NCC-logoFront.png" />
    <add key="CompanyUserTopLeft" value="images\User.png" />
    <add key="Debug" value="False" />
  </excelSettings>
  <tableFormatting>
    <add key="Style" value="TableStyleDark3" />
  </tableFormatting>
  <HeaderStyle>
    <add key="1033" value="Heading 3" />
    <add key="3082" value="Título 3" />
  </HeaderStyle>
  <PluginsOptions>
    <add key="SleepTime" value="0" />
  </PluginsOptions>
</configuration>